.DS_Store
notebooks/y/
tests/563372_sightlines/y/.DS_Store
notebooks/**/.ipynb_checkpoints/
tests/**/.ipynb_checkpoints/
tests/**/y/
notebooks/y/
*.h5
*.hdf5
.DS_Store
notebooks/**/.ipynb_checkpoints/
tests/**/.ipynb_checkpoints/
tests/**/y/
notebooks/y/
*.h5
*.hdf5
*.fits
outputs/
logs/
.ipynb_checkpoints/
__pycache__/
.DS_Store
